@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('Kaushan Script'), local('KaushanScript-Regular'), url('/fonts/Kaushan_Script-normal-400.woff') format('woff');
    unicode-range: U+0-10FFFF;
}