@import "tailwindcss";

@plugin '@tailwindcss/typography';

@layer components {
  .icon-btn-group a,
  .icon-btn {
    @apply mx-1 rounded-full bg-gray-700/30 p-2 text-gray-300 backdrop-blur-sm hover:bg-gray-700/80 hover:text-gray-100;
  }
}

@utility bg-cup-sm {
  background-image: url("/img/cup-640-700.jpg");
}

@utility bg-cup-md {
  background-image: url("/img/cup-960-700.jpg");
}

@utility bg-cup-lg {
  background-image: url("/img/cup-1200-900.jpg");
}

@utility bg-cup-xl {
  background-image: url("/img/cup-2000-1000.jpg");
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-cup-sm md:bg-cup-md lg:bg-cup-lg xl:bg-cup-xl flex flex-col bg-gray-900 bg-cover bg-fixed bg-center text-gray-300;
  }

  [x-cloak] {
    display: none;
  }

  h1 {
    font-family: "Kaushan Script", cursive;
    margin-bottom: 30px;
    @apply text-5xl;
    @apply leading-snug;
    @apply font-light;
    @apply text-white;
    transform: rotate(-5deg);

    span {
      padding: 4px 15px;
      @apply relative;

      &:before {
        @apply absolute;
        top: 40px;
        left: 0;
        width: 30px;
        height: 4px;
        content: "";
        background: #fff;
        margin-left: -30px;
      }

      &:after {
        @apply absolute;
        top: 40px;
        right: 0;
        width: 30px;
        height: 4px;
        content: "";
        background: #fff;
        margin-right: -30px;
      }
    }
  }
}
