@responsive {
    .bg-cup-sm {
        background-image: url("img/cup-640-700.jpg");
    }

    .bg-cup-md {
        background-image: url("img/cup-960-700.jpg");
    }

    .bg-cup-lg {
        background-image: url("img/cup-1200-900.jpg");
    }

    .bg-cup-xl {
        background-image: url("img/cup-2000-1000.jpg");
    }
}